# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [12]:
series1 = pd.Series(np.random.randint(low = 1, high = 5,size=100))
series2 = pd.Series(np.random.randint(low = 1, high = 4,size=100))
series3 = pd.Series(np.random.randint(low = 10000, high = 30001,size=100))
series1

0     4
1     4
2     2
3     3
4     4
     ..
95    2
96    1
97    1
98    2
99    1
Length: 100, dtype: int32

### Step 3. Let's create a DataFrame by joinning the Series by column

In [15]:
data_series = pd.concat([series1,series2,series3],axis=1)

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [21]:
data_series=data_series.rename(columns = {0:"bedrs",1:"bathrs",2:"price_sqr_meter"})
# data_series.rename(columns = {0:"bedrs",1:"bathrs",2:"price_sqr_meter"},inplace=True)

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [22]:
bigcolumn = pd.concat([series1,series2,series3])
bigcolumn

0         4
1         4
2         2
3         3
4         4
      ...
95    25515
96    28024
97    21696
98    20075
99    29144
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [23]:
bigcolumn.shape

(300,)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [25]:
bigcolumn.reset_index()

     index      0
0        0      4
1        1      4
2        2      2
3        3      3
4        4      4
..     ...    ...
295     95  25515
296     96  28024
297     97  21696
298     98  20075
299     99  29144

[300 rows x 2 columns]