# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [7]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [29]:
url1 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
url2 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"

data_cars_1 = pd.read_csv(url1,sep=",")
data_cars_2 = pd.read_csv(url2,sep=",")

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [30]:
data_cars_1 = data_cars_1.loc[:,:"car"]
data_cars_1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [31]:
data_cars_2.columns==data_cars_1.columns
print("Data Cars 1 shape is ",data_cars_1.shape)
print("Data Cars 2 shape is ",data_cars_2.shape)

Data Cars 1 shape is  (198, 9)
Data Cars 2 shape is  (200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [ ]:
cars = pd.concat([data_cars_1,data_cars_2])

In [36]:
cars.head()
# cars.shape

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [45]:
cars = cars.assign(Owners=np.random.randint(15000, high=73001, size=cars.shape[0], dtype='l'))

### Step 8. Add the column owners to cars

In [46]:
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,45745
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,19700
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,68208
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,22298
4,17.0,8,302,140,3449,10.5,70,1,ford torino,69314