# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [61]:
import pandas as pd
import numpy

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [62]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
data_set = pd.read_csv ( url, sep = '\t' )
data_set

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [63]:
data_set.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 5. What is the number of observations in the dataset?

In [64]:
# Solution 1

data_set.shape[0]

4622

In [65]:
# Solution 2
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [66]:
data_set.shape[1]

5

### Step 7. Print the name of all the columns.

In [67]:
data_set.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [68]:
data_set.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [69]:
item_sum = data_set.groupby("item_name").sum().sort_values(["quantity"], ascending=False)
item_sum.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

### Step 10. For the most-ordered item, how many items were ordered?

In [70]:
item_sum = data_set.groupby("item_name").sum().sort_values(["quantity"], ascending=False)
item_sum.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

### Step 11. What was the most ordered item in the choice_description column?

In [71]:
data_set.groupby("choice_description").sum().sort_values(["quantity"], ascending=False).head(1)

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...

### Step 12. How many items were orderd in total?

In [72]:
data_set.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [73]:
data_set.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [74]:

data_set.item_price=data_set.item_price.map(lambda x: float(x[1:-1]))

#### Step 13.c. Check the item price type

In [75]:
data_set.item_price.dtype
data_set.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 14. How much was the revenue for the period in the dataset?

In [82]:
revenue = str((data_set.quantity*data_set.item_price).sum())
print("the revenue was, " + revenue + " dollars")

the revenue was, 39237.02 dollars

### Step 15. How many orders were made in the period?

In [80]:
# Value counts me las agrupa para los repetidos y count me cuenta  cuándos son ya agrupados haciendo solo 1 repetición de cada order_ID
orders_made = data_set.order_id.value_counts().count()

### Step 16. What is the average revenue amount per order?

In [102]:
# Solution 1

data_set.groupby("order_id")
amount_per_order = float(revenue)/int(orders_made)

21.39423118865867

In [103]:
# Solution 2

data_set['revenue'] = data_set['quantity'] * data_set['item_price']    # Creamos un puta nueva columna que es total del coste
odered_set = data_set.groupby("order_id").sum()      #Este sum lo hace asociado al groupby y suma toodo con el mismo index. aAaaahhh
amount_per_order = odered_set.revenue.mean()
amount_per_order

21.39423118865867

### Step 17. How many different items are sold?

In [90]:
data_set.item_name.value_counts().count()

50