# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [123]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
data_set = pd.read_csv(url,sep="\t",encoding="utf_8")

data_set.head(5)
data_set.shape

(4622, 5)

### Step 4. How many products cost more than $10.00?

In [124]:
data_set.item_price = data_set.item_price.map(lambda x: float(x[1:-1]))
data_set = data_set.fillna("")
data_set.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [130]:

def normalization(row):
    
    row.item_price = row.item_price/row.quantity
    sup = row.choice_description.replace("]","")
    sup = sup.replace("[","")
    sup = sup.replace(" ","")
    
    row.choice_description = sup

    # print(row.choice_description)
    return row

normalized_data_set = data_set.apply(normalization, axis = "columns")

desc_none = normalized_data_set.item_name[normalized_data_set.choice_description==""]
desc_none.unique()
# Con estos datos hay que hacer una funcion que separe la lista de item price y complementos y vaya comparando. 

# data_set.loc[:,["item_name","choice_description","item_price"]]
# normalized_data_set.loc[:,["item_name","choice_description","item_price"]]

array(['Chips and Fresh Tomato Salsa',
       'Chips and Tomatillo-Green Chili Salsa', 'Side of Chips',
       'Chips and Guacamole', 'Bottled Water',
       'Chips and Tomatillo Green Chili Salsa', 'Chips',
       'Chips and Tomatillo Red Chili Salsa',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa',
       'Chips and Tomatillo-Red Chili Salsa',
       'Chips and Mild Fresh Tomato Salsa'], dtype=object)

### Step 6. Sort by the name of the item

In [132]:
data_set.sort_values(by="item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [141]:
data_set.sort_values(by="item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [144]:
data_set.loc[data_set.item_name == "Veggie Salad Bowl"].quantity.sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [157]:
data_set.loc[data_set.item_name == "Canned Soda"].loc[data_set.quantity > 1].order_id.count()

20